@font-face {
  font-family: MantiniaRegular;
  src: url('/font/MantiniaRegular.otf') format('opentype');
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: url(/images/eldenRing.jpg) no-repeat top/cover;
}
