footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(230, 200, 146, 255);
  background-color: rgba(0, 0, 0, 0.5);
}
footer a:visited {
  color: lightcoral;
}
footer .about {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .logo {
  height: 25px;
  transition: all ease-in-out 0.5s;
}

footer .logo:hover {
  transform: scale(1.2);
}
