.cardsContainer {
  min-height: 600px;
  width: 100%;
  min-width: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.cardOuter {
  background-color: transparent;
  height: 300px;
}
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip {
  animation-name: flip;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes flip {
  0%,
  25% {
    transform: rotateY(180deg);
  }
  75%,
  100% {
    transform: rotateY(0deg);
  }
}

.card {
  font-family: MantiniaRegular, 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  padding: 5px;
  border: 2px solid;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.1s linear;
  cursor: pointer;
  box-sizing: border-box;
}

.card.back.sorceries {
  background-image: url(/images/sorceryScroll.webp);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}

.card.back.incantations {
  background-image: url(/images/prayerBook.webp);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
}

.loading,
.error {
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 0 25px;
  border-radius: 25px;
}

.gameOver {
  min-height: 400px;
  max-width: 600px;
  font-family: MantiniaRegular, 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 75px;
}
.gameOver button {
  height: 150px;
  width: 150px;
  color: transparent;
  background: url(/images/grace.webp);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid rgba(230, 200, 146, 255);
  transition: transform linear 0.2s;
}
.gameOver button:hover,
.gameOver button:focus {
  cursor: pointer;
  box-shadow: 2px 2px 25px 5px rgba(230, 200, 146, 255);
  transform: scale(1.05);
}
