main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-family: MantiniaRegular;
  color: rgba(230, 200, 146, 255);
}
.container {
  border: 1px solid white;
  min-height: 500px;
  width: 100%;
}
